build/MS-Teams-Busy-Light/Analysis-00.toc
build/MS-Teams-Busy-Light/base_library.zip
build/MS-Teams-Busy-Light/EXE-00.toc
build/MS-Teams-Busy-Light/MS-Teams-Busy-Light.pkg
build/MS-Teams-Busy-Light/PKG-00.toc
build/MS-Teams-Busy-Light/PYZ-00.pyz
build/MS-Teams-Busy-Light/PYZ-00.toc
build/MS-Teams-Busy-Light/Tree-00.toc
build/MS-Teams-Busy-Light/Tree-01.toc
build/MS-Teams-Busy-Light/Tree-02.toc
build/MS-Teams-Busy-Light/warn-MS-Teams-Busy-Light.txt
build/MS-Teams-Busy-Light/xref-MS-Teams-Busy-Light.html
build/MS-Teams-Busy-Light/localpycs/pyimod01_archive.pyc
build/MS-Teams-Busy-Light/localpycs/pyimod02_importers.pyc
build/MS-Teams-Busy-Light/localpycs/pyimod03_ctypes.pyc
build/MS-Teams-Busy-Light/localpycs/pyimod04_pywin32.pyc
build/MS-Teams-Busy-Light/localpycs/struct.pyc
__pycache__/datetime.cpython-312.pyc
TeamsVersionFile.txt
