[Version]
logfolder_new = %%localappdata%%\Packages\MSTeams_8wekyb3d8bbwe\LocalCache\Microsoft\MSTeams\Logs
logfolder_old = %%APPDATA%%\Microsoft\Teams\logs.txt



[StateSettings]
Available = Available
Busy = Busy
InAMeeting = In a meeting
OnThePhone = On the phone
DoNotDisturb = Do not disturb
BeRightBack = Be right back
Presenting = Presenting
Away = Away
Offline = Offline
Unknown = Unknown
NewActivity = NewActivity
ConnectionError = ConnectionError
NoNetwork = NoNetwork
Initialize = Initialize 
Outdated = Outdated
IncomingCall = IncomingCall

Focusing = Focusing
NotInACall = Not in a call
InACall = In a call




[DebugSettings]
enabled = yes
log_file_path = .\logs\pyTeamsStatusDebug.log
max_size_mb = 5
backup_count = 3
rotate_interval_hours = 3